.button
{
	height: 51px;
	width:150px;
	/*background-color: Grey;
	color: White;
	border-radius: 16px;
	*/
	 background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border-radius: 16px;
}

.bck
{
	background-color: #002266;
	background-image: url("back1.png");
	height:100%; 

 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loginBck
{
	background-image: url("backg.png");
	background-repeat: no-repeat;
	background-position: center;
  
  background-size: cover;
}





table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 50%;
}

th, td {
  padding: 15px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: transparent;
}
input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: transparent;
}


input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: transparent;

}

input[type=date] {
  height: 35px;
  margin: 0 auto;
  width: 100%;
  font-family: arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
  outline: none;
  border: 0;
  border-radius: 3px;
  padding: 0 3px;
  color: black;
  
  &::-webkit-datetime-edit-month-field {
    color:black ;
  }
  &::-webkit-datetime-edit-day-field {
    color:black;
  }
  &::-webkit-datetime-edit-year-field {
    color: black;
  }
  
  &::-webkit-clear-button {
    font-size: 18px;
    height: 30px;
    position: relative;
    right: 5px;
    margin-right: 4px;
  }
  &::-webkit-inner-spin-button {
    height: 30px;
  }
  &::-webkit-calendar-picker-indicator {
    font-size: 18px;
    
        
    &:hover {
      background-color: lighten(#2f2f2f,40%);
      color: darken(#fff, 10%);
      cursor: pointer;
    }
    &:active {
      color: blue;
    }
  }
}
